/* You can add global styles to this file, and also import other style files */
@import 'styles/reset.scss';
@import 'styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Public+Sans&display=swap');

* {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Public Sans', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-space-between {
    justify-content: space-between;
}

.toolbar {
    padding: 20px;
    &__main-header {
        background: transparent;
        color: $text-light;
    }
}

.brand {
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: $text_dark;
    padding: 15px 0;
}
.button {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 25px;
                cursor: pointer;
    &__primary {
        background: $primary;
        color: $primary_contrast;
        &:hover, &:focus {

            background: $primary--hover;
            color: $primary_contrast--hover;
        }

    }
}